@model EHikeB.Models.Address

@{
    ViewData["Title"] = "Details";
}


<div class="container py-5">
    <h4 class="text-center text-secondary mb-3">Details</h4>

    <div class="row gx-5 justify-content-center ml-0 mr-0">
        <div class="col-lg-8">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.StreetName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.StreetName)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.StreetNumber)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.StreetNumber)
                </dd>


            </dl>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>