@model EHikeB.Models.Car

@{
    ViewData["Title"] = "Details";
}



<div class="container py-5">
    <h4 class="text-center text-secondary mb-3">Details</h4>


    

    <div class="row gx-5 justify-content-center ml-0 mr-0">
        <div class="col-lg-8">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Model)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Seats)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Seats)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Energy)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Energy)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Plate)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Plate)
                </dd>
            </dl>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model.ID">Edit</a>

        </div>
        
                

    </div>
    
</div>