@model EHikeB.Models.Session

@{
    ViewData["Title"] = "Details";
}



<div class="container py-5">
    <h4 class="text-center text-secondary mb-3">Details</h4>




    <div class="row gx-5 justify-content-center ml-0 mr-0">
        <div class="col-lg-8">
            <dl class="row">

                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.StartTime)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Car.Model)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Car.Model)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Address.FullName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Address.FullName)
                </dd>
            </dl>
                <a href="javascript: history.go(-1)" class="btn btn-secondary">Go Back</a>         
            </div>
    </div>
</div>