@model EHikeB.Models.Session

@{
    ViewData["Title"] = "Details";
}



<div class="container py-5">
    <h4 class="text-center text-secondary mb-3">Details</h4>




    <div class="row gx-5 justify-content-center ml-0 mr-0">
        <div class="col-lg-8">
            <dl class="row">

                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.StartTime)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.StartTime)
                </dd>
                <dt class="col-sm-5">
                    Car
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Car.Model)
                </dd>
                <dt class="col-sm-5">
                    Address
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Address.StreetName)  @Html.DisplayFor(model => model.Address.StreetNumber)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@Model.SessionID">Edit</a> 
        </div>
    </div>
</div>