@model IEnumerable<EHikeB.Models.Session>

@{
    ViewData["Title"] = "Index";
}


<div class="py-5 container">

    <h1 class="text-center text-secondary">All sessions</h1>

    <p>
        <a class="btn btn-secondary" asp-action="Create">Create a new session</a>
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    Meeting time
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address.StreetName)
                </th>
                <th>
                    Paiement method
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.StreetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaiementMethod)
                    </td>
                    <td>
                        <a class="link-dark" asp-action="Details" asp-route-id="@item.SessionID">Details</a> |
                        <a class="link-dark" asp-action="Delete" asp-route-id="@item.SessionID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>