@{
    ViewData["Title"] = "Dashboard";
}

@model DashboardViewModel;

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="car-tab" data-bs-toggle="tab" data-bs-target="#cars" type="button" role="tab" aria-controls="car" aria-selected="true">My Cars</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="sessions-tab" data-bs-toggle="tab" data-bs-target="#sessions" type="button" role="tab" aria-controls="sessions" aria-selected="false">Created Sessions</button>
        </li>
    </ul>
    <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade show active" id="cars" role="tabpanel" aria-labelledby="car-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Model</th>
                        <th scope="col">Seats</th>
                        <th scope="col">Energy</th>
                        <th scope="col">Plate</th>
                        <th scope="col">Plate Control</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var car in Model.Cars)
                        {
                        <tr>
                            <th scope="row">@car.ID</th>
                            <td>@car.Model</td>
                            <td>@car.Seats</td>
                            <td>@car.Energy</td>
                            <td>@car.Plate</td>
                            <td>@car.PlateControl</td>

                        </tr>
                    }

                    </tbody>
                </table>

            </div>
        <div class="tab-pane fade" id="sessions" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Start Location</th>
                        <th scope="col">End Location</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">Deviation Time</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var session in Model.Sessions)
                        {
                        <tr>
                            <th scope="row">@session.SessionID</th>
                            <td>@session.StartLocation</td>
                            <td>@session.EndLocation</td>
                            <td>@session.StartTime</td>
                            <td>@session.DeviationTime</td>
                            <td>@session.Status</td>

                        </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>

    </div>