@inject SignInManager<Customer> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="text-black nav-link btn-secondary @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="text-black nav-link btn-secondary @ManageNavPages.SessionsNavClass(ViewContext)" id="profile" asp-page="./GoToSessions">Sessions</a></li>
    <li class="nav-item"><a class="text-black nav-link btn-secondary @ManageNavPages.CarsNavClass(ViewContext)" id="profile" asp-page="./GoToCars">Cars</a></li>
    <li class="nav-item"><a class="text-black nav-link btn-secondary @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="text-black nav-link btn-secondary @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="text-black nav-link btn-secondary @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="text-black nav-link btn-secondary @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="text-black nav-link btn-secondary @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
